* {
  box-sizing: border-box;
}

:root {
  --main-color: #041b15;
  --sec-color: #136f63;
  --third-color: #22aaa1;
  --fourth-color: #4ce0d2;
  --fifth-color: #84cae7;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(
    to left,
    var(--third-color),
    var(--main-color)
  );
}

a {
  text-decoration: none;
}
nav a {
  padding-left: 2rem;
  color: white;
}
h1 a {
  color: white;
}

header,
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.post-card {
  border-radius: 12px;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  width: 30rem;
  background-color: white;
}
.post-card a {
  color: #041b15;
}

.single-card {
  font-size: 20px;
  border-radius: 12px;
  justify-content: center;
  /* margin-top: 5rem; */
  height: 22rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  width: 30rem;
  background-color: white;
}

input {
  display: flex;
  height: 5rem;
  width: 30rem;
  border-radius: 12px;
}

.comments {
  border: 2px #041b15 solid;
  width: 20rem;
  height: 5rem;
  border-radius: 12px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #84cae7;
}
.new-comment {
   border-radius: 12px;
  margin-top: 1rem;
  justify-content: center;
  text-align: center;
}
.dashboard_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.new-blog {
  display: flex;
  flex-direction: column;
}
.login-wrapper {
  border: 2px black solid;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  background-color: var(--main-color);
  padding: 2rem;
}
.dashboard-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#email-login, #password-login {
  font-size: 20px;
}
